<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SectionTitle</key>
	<string>UISearchBar</string>
	<key>SubSections</key>
	<array>
		<dict>
			<key>SubSectionName</key>
			<string></string>
			<key>SubSectionAttributes</key>
			<array>
				<string>text</string>
				<string>placeholder</string>
				<string>prompt</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string></string>
			<key>SubSectionAttributes</key>
			<array>
				<string>barStyle</string>
				<string>searchBarStyle</string>
				<string>translucent</string>
				<string>barTintColor</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string></string>
			<key>SubSectionAttributes</key>
			<array>
				<string>searchTextPositionAdjustment</string>
				<string>searchFieldBackgroundPositionAdjustment</string>
				<string>selectedScopeButtonIndex</string>
				<string>searchResultsButtonSelected</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string>Options</string>
			<key>SubSectionAttributes</key>
			<array>
				<string>showsSearchResultsButton</string>
				<string>showsBookmarkButton</string>
				<string>showsCancelButton</string>
				<string>showsScopeBar</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string>Autocorrection</string>
			<key>SubSectionAttributes</key>
			<array>
				<string>spellCheckingType</string>
				<string>autocapitalizationType</string>
				<string>autocorrectionType</string>
			</array>
		</dict>
		<dict>
			<key>SubSectionName</key>
			<string>Keyboard</string>
			<key>SubSectionAttributes</key>
			<array>
				<string>keyboardType</string>
				<string>keyboardAppearance</string>
				<string>returnKeyType</string>
				<string>enablesReturnKeyAutomatically</string>
				<string>secureTextEntry</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
