<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IBAAutoConnectToSimulator</key>
	<true/>
	<key>IBACollapsedViewClasses</key>
	<array>
		<string>MKMapView</string>
		<string>UIActivityIndicatorView</string>
		<string>UIButton</string>
		<string>UIImageView</string>
		<string>UILabel</string>
		<string>UINavigationBar</string>
		<string>UINavigationButton</string>
		<string>UINavigationItemView</string>
		<string>UIPageControl</string>
		<string>UIProgressView</string>
		<string>UIRemoteKeyboardWindowHosted</string>
		<string>UIRoundedRectButton</string>
		<string>UISearchBar</string>
		<string>UISegmentedControl</string>
		<string>UISlider</string>
		<string>UIStepper</string>
		<string>UISwitch</string>
		<string>UITextField</string>
		<string>UITextView</string>
		<string>UIWebView</string>
		<string>UITabBar</string>
		<string>UIToolbar</string>
		<string>UIPickerView</string>
		<string>UIDatePicker</string>
		<string>UIPickerTableView</string>
		<string>UIStatusBarWindow</string>
		<string>UITableViewCellDeleteConfirmationView</string>
		<string>UITextEffectsWindow</string>
		<string>UITextEffectsWindowHosted</string>
		<string>WKWebView</string>
		<string>_UIAlertNormalizingOverlayWindow</string>
		<string>_UILayoutGuide</string>
		<string>_UINavigationBarBackground</string>
	</array>
	<key>IBADisabledFocusClasses</key>
	<array>
		<string>NSLayoutConstraint</string>
	</array>
	<key>IBAPropertyInspectorLastSelectedTabIndex</key>
	<integer>0</integer>
	<key>IBAOutlineViewFilteredItemMask</key>
	<integer>0</integer>
	<key>IBAPropertyCanvasRenderMode</key>
	<integer>3</integer>
	<key>IBAPropertyCanvasPerspective</key>
	<integer>1</integer>
	<key>IBAPropertyCanvasDisplayHiddenViews</key>
	<false/>
	<key>IBAPropertyCanvasDisplayTextEffectWindows</key>
	<false/>
	<key>IBAPropertyCanvasConstraintsHidden</key>
	<false/>
	<key>IBAPropertyCanvasHiddenViewOpacity</key>
	<real>0.75</real>
	<key>IBAPropertyCanvasZoomFactor</key>
	<real>1</real>
	<key>IBAAnalyticsEnabled</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUSendProfileInfo</key>
	<true/>
</dict>
</plist>
