Package: com.cnabc.dingtalk
Name: DingTalk
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: cnabc
Author: cnabc
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
