<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16B2555</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>reveal</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Snapshot Document Icon</string>
			<key>CFBundleTypeName</key>
			<string>Reveal Application Snapshot</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.ittybittyapps.Reveal.application-snapshot</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
			<key>NSDocumentClass</key>
			<string>IBARevealDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Reveal</string>
	<key>CFBundleIconFile</key>
	<string>Reveal</string>
	<key>CFBundleIdentifier</key>
	<string>com.ittybittyapps.Reveal2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Reveal</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>8796</string>
	<key>CountlyAPIKey</key>
	<string>4a56e41faefdc208bfae7b88e14f5d1b133aaee2</string>
	<key>CountlyURL</key>
	<string>https://analytics.revealapp.com</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8B62</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16B2649</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0810</string>
	<key>DTXcodeBuild</key>
	<string>8B62</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2015 Itty Bitty Apps Pty. Ltd. </string>
	<key>NSMainStoryboardFile</key>
	<string>Application</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>E</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Show in Reveal</string>
			</dict>
			<key>NSMessage</key>
			<string>revealServiceDidRequestRefresh</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSApplicationIdentifier</key>
				<string>com.apple.iphonesimulator</string>
				<key>NSServiceCategory</key>
				<string>public.source-code</string>
			</dict>
		</dict>
	</array>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>Reveal.sdef</string>
	<key>RevealWebAPIURL</key>
	<string>https://api.revealapp.com</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableSystemProfiling</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Reveal Application Snapshot</string>
			<key>UTTypeIconFile</key>
			<string>Snapshot Document Icon</string>
			<key>UTTypeIdentifier</key>
			<string>com.ittybittyapps.Reveal.application-snapshot</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>reveal</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
