<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sequence</key>
	<array>
		<string>scene</string>
		<string>glowingObjects</string>
		<string>blurHorizontal</string>
		<string>blurVertical</string>
		<string>combine</string>
	</array>
	<key>symbols</key>
	<dict>
		<key>a_position-symbol</key>
		<dict>
			<key>semantic</key>
			<string>vertex</string>
		</dict>
	</dict>
	<key>targets</key>
	<dict>
		<key>scene-color</key>
		<dict>
			<key>type</key>
			<string>color</string>
			<key>scaleFactor</key>
			<integer>1</integer>
		</dict>
		<key>glowingObjects-color</key>
		<dict>
			<key>type</key>
			<string>color</string>
			<key>scaleFactor</key>
			<real>0.5</real>
		</dict>
		<key>color-intermediate1</key>
		<dict>
			<key>type</key>
			<string>color</string>
			<key>scaleFactor</key>
			<real>0.5</real>
		</dict>
		<key>color-intermediate2</key>
		<dict>
			<key>type</key>
			<string>color</string>
			<key>scaleFactor</key>
			<real>0.5</real>
		</dict>
	</dict>
	<key>passes</key>
	<dict>
		<key>scene</key>
		<dict>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>scene-color</string>
			</dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<true/>
				<key>clearColor</key>
				<string>sceneBackground</string>
			</dict>
			<key>depthStates</key>
			<dict>
				<key>clear</key>
				<true/>
			</dict>
		</dict>
		<key>glowingObjects</key>
		<dict>
			<key>draw</key>
			<string>DRAW_SCENE</string>
			<key>includeCategoryMask</key>
			<integer>128</integer>
			<key>inputs</key>
			<dict/>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>glowingObjects-color</string>
			</dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<true/>
				<key>clearColor</key>
				<string>&quot;0.0 0.0 0.0 0.0&quot;</string>
			</dict>
			<key>depthStates</key>
			<dict>
				<key>clear</key>
				<true/>
			</dict>
		</dict>
		<key>blurHorizontal</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>inputs</key>
			<dict>
				<key>a_position</key>
				<string>a_position-symbol</string>
				<key>colorBuffer</key>
				<string>glowingObjects-color</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>color-intermediate1</string>
			</dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<true/>
				<key>clearColor</key>
				<string>&quot;0.0 0.0 0.0 0.0&quot;</string>
			</dict>
			<key>program</key>
			<string>blur-horizontal</string>
			<key>metalVertexShader</key>
			<string>IBAQuadCommonVert</string>
			<key>metalFragmentShader</key>
			<string>IBABlurHorizontalFrag</string>
			<key>samples</key>
			<integer>1</integer>
		</dict>
		<key>blurVertical</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>inputs</key>
			<dict>
				<key>a_position</key>
				<string>a_position-symbol</string>
				<key>colorBuffer</key>
				<string>color-intermediate1</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>color-intermediate2</string>
			</dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<true/>
				<key>clearColor</key>
				<string>&quot;0.0 0.0 0.0 0.0&quot;</string>
			</dict>
			<key>program</key>
			<string>blur-vertical</string>
			<key>metalVertexShader</key>
			<string>IBAQuadCommonVert</string>
			<key>metalFragmentShader</key>
			<string>IBABlurVerticalFrag</string>
			<key>samples</key>
			<integer>1</integer>
		</dict>
		<key>combine</key>
		<dict>
			<key>draw</key>
			<string>DRAW_QUAD</string>
			<key>inputs</key>
			<dict>
				<key>a_position</key>
				<string>a_position-symbol</string>
				<key>normalColorBuffer</key>
				<string>scene-color</string>
				<key>glowColorBuffer</key>
				<string>color-intermediate2</string>
			</dict>
			<key>outputs</key>
			<dict>
				<key>color</key>
				<string>COLOR</string>
			</dict>
			<key>colorStates</key>
			<dict>
				<key>clear</key>
				<true/>
				<key>clearColor</key>
				<string>&quot;0.0 0.0 0.0 0.0&quot;</string>
			</dict>
			<key>program</key>
			<string>glow-combine</string>
			<key>metalVertexShader</key>
			<string>IBAQuadCommonVert</string>
			<key>metalFragmentShader</key>
			<string>IBAGlowCombineFrag</string>
			<key>samples</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
