#include "MachOAndSymbol.RunCMD.xcconfig"
// DWARF ->  __DWARF 段 / .o
// 链接 -》 DWARF -〉 符号表 -》exec
// -map
//OTHER_LDFLAGS=$(inherited) -Xlinker -S -Xlinker -map -Xlinker /Users/xyj/Documents/GitHub/ios_skill_tree/iOS进阶/MachOAndSymbol/Symbol.text
//

//OTHER_LDFLAGS=$(inherited) -Xlinker -unexported_symbol -Xlinker _OBJC_CLASS_$_XZOneObject
//OTHER_LDFLAGS=$(inherited) -Xlinker -unexported_symbol -Xlinker _OBJC_METACLASS_$_XZOneObject
OTHER_LDFLAGS=$(inherited) -Xlinker -U -Xlinker _weak_import_function
//// 间接符号 符号 别名
//OTHER_LDFLAGS=$(inherited) -Xlinker -alias -Xlinker _NSLog -Xlinker Cat_NSLog




